.container-senha{
  width: 500px;
  height: 400px;
  margin-top: 100px;
}

button {
  border: none;
  background-color: #fff;
  position: absolute;
  right: 7px;
  top: 35px;
}

.campo-senha,
.confirmar-senha {
  position: relative;
}
